{
  "extends": [
    "@antfu"
  ],
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": [2, "always"],
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/indent": ["error", 4],
    "vue/component-tags-order": ["error", {
      "order": [ "template", "script", "style" ]
    }],
    "vue/script-indent": ["error", 4, { "baseIndent": 1 }],
    "vue/html-indent": ["error", 4, { "baseIndent": 1 }],
    "brace-style": "off",
    "@typescript-eslint/brace-style": ["error", "1tbs"],
    "curly": ["error", "all"],
    "vue/component-name-in-template-casing": ["error", "PascalCase", {
      "registeredComponentsOnly": true,
      "ignores": []
    }],
    "array-element-newline": ["error", {
      "ArrayExpression": "consistent",
      "ArrayPattern": { "minItems": 3 }
    }],
    "array-bracket-newline": ["error", "consistent"],
    "object-curly-newline": ["error", { "consistent": true }]
  },
  "overrides": [
    {
      "files": ["*.vue"],
      "rules": {
        "@typescript-eslint/indent": "off"
      }
    }
  ]
}
